<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Social Media</h1>

            <form>
                

               
                  <div class="form-group my-3">
                    <label>FaceBook</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group my-3">
                    <label>Instagam</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group my-3">
                    <label>Twitter</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group my-3">
                    <label>WhatsApp</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <button type="button" class="btn btn-primary my-3">
                    Submit
                </button>
                <button type="button" class="btn btn-primary my-3 ml-3">
                  Add More
              </button>

              

            </form>

          
            
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Social Media</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
                     
        </div>

       

          
        <!-- /.row -->


       
      </div><!-- /.container-fluid -->


    </section>
    
    <!-- /.content -->
  </div>
